header{
    background-image: url("../ProjetoCSS_inicio/imagens/bg-3.jpg");
    width: 100%; /* Escolhe até onde a imagem vai na horizontal */
    height: 700px; /* Escolhe até onde a imagem vai na vertical */
    background-size: cover;
    background-position: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-shadow:2px 2px black;
    box-shadow: bisque;
    position: relative; /* Posiciona o elemento em relação a si mesmo, ou seja, o ponto zero é seu canto superior esquerdo.*/
}
body{
    margin:0;
    background-color: rgba(0, 0, 0, 0.308);

}
h1{
    text-align: center;
    top: 25%;
    width: 100%;
    position:absolute;
    
}
.tamanho{
    border-bottom: lightcoral;
    margin: 0 auto;
    display: inline;
    width: 100%;
}
.imagem{
    
    width: 300px;
}
.main{
    background-color: rgb(255, 255, 255);
    padding: 20px; /* aumenta o espaço interno */
    margin: 35px; 

}
li{
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: none;
    display: inline;
    border:groove;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 15px;
    
}
ul{
    margin:0;
    top: 30px;
    position:absolute; /*Posiciona o elemento usando o canto superior esquerdo do seu elemento pai cuja posição está definida. */
    right: 50px;
}
figure{
    max-width: 300px;
}

figcaption{
    background-color: rgb(46, 35, 46);
    color: white;
    margin: 0;
    max-width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-top: -5px;
}