body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(190, 185, 184);
    margin: 0;
}
.hero{
    background-image: url(./ImagensP1/bg-3.jpg);
    height: 650px;
    background-position: right center; /* alinha a direita e centraliza na vertical */
    background-size: cover; /* Mostra a imagem completa */
    border-top: 1px solid transparent;
}
.hero-content{
    text-align: center;
    color:white;
    margin-top: 150px;
}
.hero-content h1{
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 3px 3px 3px rgb(29, 29, 28); /* deslocamento x, deslocamento y, esfumaçamento */
}
.hero-content p{
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    display: inline-block;
    border-bottom: 2px solid white;
    padding: 20px;
}
.hero nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin-left: 15px;
}
.hero nav ul{
    text-align: right;
    margin: 25px 35px 10px 10px;
}
.hero nav a{
    border: px solid white;
    background: rgba(0, 0, 0, 0.2); /* Transparência */
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none; /* Remove o sublinhado */
    text-transform: uppercase; /* Deixa as letras maiúsculas */
    font-size: 13px;
    letter-spacing: 2px; /* Espaçamento entre as letras */
}
.hero nav a:hover{ /* Efeito quando passar o mouse por cima*/
    background: rgba(0, 0, 0, 0.6); /* Transparência */

}
main{
    width: 80%;
    margin: auto;
}
.section{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}
.tittle{
    border: solid;
    border-color: rgb(202, 198, 198);
    background-color: rgb(202, 198, 198);
    border-bottom: inset;
}
.copy{
    background-color: rgba(0, 0, 0, 0.438);
    color: rgb(255, 255, 255);
    padding: 8px;
    font: inherit;
    font-size: 15px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
.card{
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
}
.card p{
    background-color: rgba(0, 0, 0, 0.698);
    color: white;
    margin: 0;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
}
.card img{
    width: 100%;
    display: block;
}
.card p:hover{
    background-color: rgba(0, 0, 0, 0.438);
}
.card-1, .card-2{
    margin-right: 2%;
}

