body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(119, 119, 119);
    line-height: 2;
}
h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 0 0 1em
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
a{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    color: #49bf9d;
}
img{
    max-width: 100%; /*Ajusta até o tamanho máximo da prória imagem*/
}

sub,sup{
    font-size: 15px;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

code{
    background-color: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
}

pre code{
    display: block;
}
pre{
    margin-bottom: -20px;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}
li{
    padding-left: .5em;
}
input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea, select{
    background-color:#ccc;
    padding: 15px;
    border: 3px solid transparent;
    border-radius: 2px;
    margin-bottom: 105px;
}

input[type="radio"], input[type="checkbox"]{
    width: auto;
}
input[type="email"], input[type="text"]{
    margin-bottom: 15px;
}
input:focus, textarea:focus{
    border: 3px solid #49bf9d;
    outline: none;
}
textarea{
    padding-bottom: 10em;
}

.alternate{
    list-style-type: none;
    padding-left: 0;
}
.alternate li{
    border-bottom: 2px solid rgb(221, 221, 221);
    padding-left: 0;
}
.alternate li:last-child{
    border: 0
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background-image: url(../images/overlay.png) ,url(../images/thunderstorm-01-2560x1080.jpg);
    padding: 180px 60px 70px;
    box-sizing: border-box;
    background-position: center;
    background-size: auto, cover;
    text-align: right;
}
.main-header img{
    border-radius: 50%;
    height: 150px;
}
.main-header-title{
    font-weight: normal;
    font-size: 20px;
    color: rgba(255, 255, 255, .5);
}
.main-header-title strong{
    color: white;
    font-weight: normal;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 75px;
    box-sizing: border-box;
}

.main-section{
    margin-top: 50px;
}
.main-section-text{
    font-size: 20px;
    margin-bottom: 60px;
    box-sizing: border-box;
}
.main-section-tittle{
    font-size: 35px;
    font-weight: normal;
}
.main-section-last-text{
    margin-bottom: 50px;
}

.buttom-default{
    background-color: rgb(253, 253, 253);
    border: 2px solid #d6d6d6;
    color: #707070;;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    cursor: pointer;
    width: auto; /* volte ao padrao */
    transition: all .5s;
}
.buttom-default:hover{
    color: #49bf9d;
    border-color: #49bf9d;
}
.buttom-default-stroke{
    color: #49bf9d;
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    transition: all .2s;
    width: auto; /* volte ao padrao */
    cursor: pointer;

}
.buttom-default-stroke:hover{
    background-color:#37daac;
    color: white;
    border-color:transparent;
}
.buttom-small{
    font-size: 0.65em;
}
.buttom-full{
    width: 25%;
    display: block;
    margin-top: 15px
}
.buttom-default-big{
    font-size: 1.2em;
    border: 4px solid #dbdbdb;
    margin-top: 30px;
}

.recent-works-cards{
    display: inline-block;
    font-size: 20px;
    margin-top: 0px;
}

.recent-works-cards-title{
    margin-top: -3px;
    margin-bottom: 30px;
 
}
.recent-works-cards img{
    border-radius: 15px 15px;
    margin-right: 15px;
    text-align: center;
}

/*Grid*/

.row{
    overflow: hidden;
}
.col-2{
    width: 49%;
    float: left;
}
.col-2:first-child{
    margin-right: 1%;
}
.col-2:last-child{
    margin-left: 1%;
}
.col-2-3{
    width: 66%;
    float: left;
}
.col-1-3{
    width: 32%;
    float: left;
}
.col-1-3:nth-child(3n - 2){ /* 1, 4, 7*/
    margin-right: 2%;
}
.col-1-3:nth-child(3n){ /* 3, 6, 9 */
    margin-left: 2%;
}
.col-2-3 +.col-1-3, .col-1-3 + .col-2-3{
    margin-left: 2%;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
}
.table td{
    padding: .75em;
}
table th{
    background-color: rgb(199, 199, 199);
    text-align: left;
    padding: .75em;

}
.table tbody tr:first-child td{
    border-top: 2px solid rgb(149, 149, 149);
}
.table tbody tr:last-child td{
    border-bottom: 2px solid rgb(149, 149, 149);
}
.table tbody tr td{
    border-bottom: 1px solid rgb(149, 149, 149);
}
.table tbody tr:nth-child(2) td, .table tbody tr:nth-child(4) td{
    background: rgb(230, 230, 230);
}
.table-alternate tbody td{
    border: 1px solid rgb(199, 199, 199);
}
.table-alternate tbody tr:first-child td{
    border: 1px solid rgb(199, 199, 199);
}
.table-alternate tbody tr:last-child td{
    border: 1px solid rgb(199, 199, 199);
}

.gallery-main img{
    width: 100%;
    margin-bottom: 2%;
    border-radius: 5px;
}
.gallery-pics img{
    border-radius: 5px;
    margin-bottom: 2%;
}


footer{
    display: block;
}
.main-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 35%;
    padding: 0 60px 72px 0;
    box-sizing: border-box;
    color:rgb(110, 109, 109);
    font-size: 15px;
    text-align: right;
}

.icon{
    color: #49bf9d;
    font-size: 40px;
    padding-left: 0;
}
.icon li{
    display: inline-block;
    padding-left: 0;
}
.header-icon li a:hover{
    color: #49bf9d;
}
.header-icon li{
    display: inline-block;
    margin: 5px;
    font-size: 35px;
}
.header-icon a:visited {
    color: white
}
