@charset "UTF-8";

html{
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Oxygen', sans-serif;
}

.top-header-logo{
  margin-bottom: 20px;
}
.top-header{
  text-align: center;
}
.top-nav{
  margin-top: 15px;
  background: purple;
  text-align: center;

}
.top-nav ul{
  margin: 0;
  padding: 1em 0;

}
.top-nav a{
  display: block;
  padding: 1em;
  color: aliceblue;
  text-decoration: none;
}
.top-nav a:hover{
  background: rgb( 1, 1, 1, 0.3);
}

.buttom{
  background: rgb(35, 212, 145);
  text-decoration: none;
  color: aliceblue;
  padding: .9em 2.5em;
  border-radius: 10px;
  display: inline-block; /* Sempre colocar em botões*/
}
.buttom:hover{
  background: rgb(15, 238, 152);
}

.top-content{
  text-align: center;
  padding: 1em;
  background: #f6f6f6;
}
.top-title{
  color: purple;
  font-size: 1.375em; /* 22 / 16 */

}
.top-sub-title{
  color: rgb(214, 115, 214);
  margin-bottom: 50px;
  font-size: 1em; /* 1em = 16px default */
  line-height: 1.5;
}